<div id="mainContainer">
  <app-sidebar [class.hide]="listContact" (contactClicked)="onContactSelected($event)"></app-sidebar>
  <div id="chat" [class.hide]="editContact">
    <div id="chatPlaceholder" *ngIf="!contact">
      <img width="200" src="../assets/images/intouchapp-logo-512.png" />
      <h2>Keep your phone connected</h2>
      <div class="seperator"></div>


    </div>

    <app-edit-contact [contact]="contact" *ngIf="contact" (cancel)="onCancel($event)"></app-edit-contact>
  </div>
</div>

<router-outlet></router-outlet>