<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/images/logo_black.png" />
      </div>
      <div class="actionsContainer">
        <img src="../../assets/images/chatIcon.svg" />
        <img src="../../assets/images/moreVertIcon.svg" />
      </div>
    </div>
    <div id="searchBox">
      <img width="19" src="../../assets/images/searchIcon.svg" />
      <input [(ngModel)]="searchText" type="text" placeholder="Search" />
    </div>
  </div>

  <div id="sidebarContent">

    <div class="contacts" *ngFor="
        let contact of !searchText ? profile : filteredContacts
      " (click)="contactClicked.emit(contact)">
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="content">
        <div class="contactHeader">
          <div class="name">{{ contact.fullName }}</div>

        </div>
        <div class="message">
          ☎
          {{ contact.phoneNumber}}
        </div>
      </div>
    </div>
  </div>
</div>